# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Part of the Tit Solver project, under the MIT License.
# See /LICENSE.md for license information. SPDX-License-Identifier: MIT
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

BasedOnStyle: LLVM

AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: No
AlignConsecutiveShortCaseStatements:
  Enabled: Yes
AllowAllConstructorInitializersOnNextLine: No
AllowAllParametersOfDeclarationOnNextLine: No
AllowShortCaseLabelsOnASingleLine: Yes
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: Yes
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: No
BinPackParameters: No
BreakAfterAttributes: Leave
BreakBeforeTernaryOperators: No
BreakInheritanceList: AfterColon
CompactNamespaces: No
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: LogicalBlock
IncludeIsMainRegex: "__NEVER__"
IndentCaseLabels: Yes
IndentRequiresClause: Yes
KeepEmptyLinesAtTheStartOfBlocks: No
MaxEmptyLinesToKeep: 1
PenaltyReturnTypeOnItsOwnLine: 1000 # Never.
PointerAlignment: Left
QualifierAlignment: Left
ReflowComments: Yes
RequiresClausePosition: OwnLine
SpaceAfterCStyleCast: Yes # Needed for __VA_OPT__ to work.
SpaceAfterTemplateKeyword: No
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: Yes
  AfterRequiresInExpression: No
