# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Part of BlueTit Solver, licensed under Apache 2.0 with Commons Clause.
# Commercial use, including SaaS, requires a separate license, see /LICENSE.md
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Rational on disabled checks:
#
# * bugprone-easily-swappable-parameters:
#   Very strict check, but I wish to re-enable this check in the future.
#
# * cert-msc32-c, cert-msc51-cpp:
#   We are fine with fixed seed for random number generators.
#
# * cppcoreguidelines-avoid-magic-numbers, readability-magic-numbers:
#   Very strict check, but I wish to re-enable this check in the future.
#   Will take time to properly configure and fix all issues.
#
# * cppcoreguidelines-macro-usage:
#   Excessively strict check.
#
# * cppcoreguidelines-pro-bounds-constant-array-index:
#   Excessively strict check, also does not work correctly with doctest macros.
#
# * cppcoreguidelines-pro-bounds-pointer-arithmetic:
#   It is impossible to avoid pointer arithmetic, especially when iterators
#   of some standard containers are just raw pointers.
#
# * modernize-use-nodiscard:
#   Excessively strict check, I do not want to put `[[nodiscard]]` everywhere.
#
# * readability-function-cognitive-complexity:
#   Does not work correctly with doctest macros.
#
# * readability-identifier-length:
#   We are doing a lot of math, so have a lot of short identifiers.
#
# * readability-math-missing-parentheses:
#   Excessively strict check, also does not work correctly with doctest macros.
#   Maybe reconsider this check once it will be configurable.
Checks: |
  bugprone-*
  -bugprone-easily-swappable-parameters
  cert-*
  -cert-msc32-c
  -cert-msc51-cpp
  concurrency-*
  cppcoreguidelines-*
  -cppcoreguidelines-avoid-magic-numbers
  -cppcoreguidelines-macro-usage
  -cppcoreguidelines-pro-bounds-constant-array-index
  -cppcoreguidelines-pro-bounds-pointer-arithmetic
  misc-*
  modernize-*
  -modernize-use-nodiscard
  performance-*
  readability-*
  -readability-function-cognitive-complexity
  -readability-identifier-length
  -readability-magic-numbers
  -readability-math-missing-parentheses

CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  modernize-use-trailing-return-type.TransformLambdas: none
  readability-braces-around-statements.ShortStatementLines: 2

WarningsAsErrors: |
  *
