# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Part of the Tit Solver project, under the MIT License.
# See /LICENSE.md for license information. SPDX-License-Identifier: MIT
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Ignore everything by default, but scan all directories.
*
*~
!*/

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Project configuration files.
!.git*
!/.github/workflows/*.yml
!/sonar-project.properties

# Editor configuration files.
!/.vscode/settings.json

# C++ configuration files.
!/.clang-format
!/.clang-tidy
!/vcpkg.json

# Web configuration files.
!package.json
!*.config.json
!tsconfig*.json

# Output.
.cache/
/output/
**/node_modules/

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# C++ files.
!*.hpp
!*.cpp

# Web files.
!*.js
!*.jsx
!*.ts
!*.tsx
!*.html
!*.css
!*.svg

# Python files.
!*.py

# Documentation files.
!*.md
!*.rst

# Scripts.
!*.sh

# CMake files.
!CMakeLists.txt
!*.cmake
!/cmake/codespell.txt

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Test input and output files.
!/tests/**/*stdin*
!/tests/**/*stdout*
!/tests/**/*stderr*
!/tests/**/*input*
!/tests/**/*output*
!/tests/**/*checksum*

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
