# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Part of BlueTit Solver, under the MIT License.
# See /LICENSE.md for license information. SPDX-License-Identifier: MIT
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[tool.yapf]
based_on_style = "google"
blank_lines_around_top_level_definition = 1
indent_width = 2

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[tool.flake8]
max_line_length = 80
ignore = [
  "E111", # expected 2 spaces, found 4
  "E114", # indentation is not a multiple of 4 (comment)
  "E302", # expected 2 blank lines, found 1
  "E305", # expected 2 blank lines after class or function definition, found 1
]

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[tool.pylint]
disable = [
  "bad-indentation",
  "fixme",
  "invalid-name",
  "missing-docstring",
  "no-name-in-module",
  "too-few-public-methods",
  "too-many-locals",
]

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[tool.coverage.paths]
titsdk = ["source/titsdk", "output/TIT_ROOT/lib/titsdk"]
ttdbreader = ["source/ttdbreader", "output/TIT_ROOT/paraview/ttdbreader"]

[tool.coverage.run]
branch = true

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
