# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Part of BlueTit Solver, under the MIT License.
# See /LICENSE.md for license information. SPDX-License-Identifier: MIT
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

# Cancel previous runs.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build

    strategy:
      matrix:
        os: [ubuntu-24.04, macos-26]
        compiler: [GCC, Clang]
        configuration: [Debug, Release]
        # libc++ has incomplete support for C++26, so we only use Clang on Linux.
        exclude:
          - os: macos-26
            compiler: Clang
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup runner
        uses: ./.github/actions/setup_runner
        with:
          compiler: ${{ matrix.compiler }}

      - name: Setup vcpkg
        uses: ./.github/actions/setup_vcpkg

      - name: Build and test
        run: ./build/build.sh --config ${{ matrix.configuration }} --test

      - name: Upload test output
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-output-${{ runner.os }}-${{ matrix.compiler }}-${{ matrix.configuration }}
          path: output/test_output
